PREFIX=.
AUTO_VIEW_STATUS=on
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off 
BOT_MODE=private 
OWNER_NUMBER=255
WARN_COUNT=3
WAPRESENCE=available   //composing | recording | unavailable
SESSION_ID="" 
READ_STATUS_FROM=""
